.Landing {
  text-align: center;
}

.Landing-logo {
  height: 10vmin;
  pointer-events: none;
}

.Landing-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Landing-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}

.Landing-description {
  max-width: 80vh;
  font-size: 14pt;
  text-align: left;
}

.Landing-link {
  color: #61dafb;
}

.Landing-begin {
  padding: 10px;
  background-color: #FFFFFF;
  color: #23272A;
  width: 20%;
  border-radius: 10px;
}

.Landing-begin:hover {
  color: #FFFFFF;
  background-color: #23272A;
  transition: 100ms;
  transition: background-color 300ms;
}

.Landing-instructions {
  padding: 10px;
  color: #99AAB5;
  width: 20%;
  border-radius: 10px;
}

.Landing-instructions:hover, .Landing-code:hover {
  color: #FFFFFF;
  background-color: #23272A;
  transition: background-color 300ms;
}

.Landing-code {
  padding: 10px;
  color: #99AAB5;
  text-decoration: none;
  width: 20%;
  border-radius: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: Landing-logo-spin infinite 20s linear;
  }
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
